* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    overflow-x: hidden;
}

html {
    font-size: 14px;
    box-sizing: border-box;
}

.container {
    padding: 24px 16px;
}

.header__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-content: center;
}

.nav__text {
    display: none;
}

.buttons {
    display: none;
}
