html {
    font-size: 14px;
    box-sizing: border-box;
}

*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    min-width: 320px;
    overflow-x: hidden;
}

.header {
    padding: 0 16px;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 1120px) {
    .header {
        background-color: #F8F8F8;
        justify-content: flex-end;
    }
}


.header__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
}

@media (min-width: 1120px) {
    .header__left {
        display: none;
    }
}


.button {
    border: none;
    background-color: white;
}
@media (min-width: 1120px) {
    .button {
        background-color: #F8F8F8;
    }
}

.button__img, .divider__img, .logo__img {
    vertical-align: top;
}

.menu__divider {
    display: none;
}

@media (min-width: 480px) {
    .menu__divider {
        display: unset;
    }
}

.logo__divider {
    display: unset;
}

@media (min-width: 480px) {
    .logo__divider {
        display: none;
    }
}

.call, .chat, .profile {
    display: none;
}

.nav__list-divider {
    display: none;
}
@media (min-width: 480px) {
    .nav__list-divider {
        display: unset;
    }
}
@media (min-width: 1120px) {
    .nav__divider {
        display: none;
    }
}

@media (min-width: 360px) {
    .profile {
        display: unset;
    }
}

@media (min-width: 440px) {
    .chat {
        display: unset;
    }
}

@media (min-width: 480px) {
    .call {
        display: unset;
    }
}

@media (min-width: 1120px) {
    .call, .chat, .profile {
        display: none;
    }
}

.nav__list {
    display: flex;
    list-style-type: none;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
}

@media (min-width: 1120px) {
    .nav__list-item {
        display: unset;
    }
}




.button__text {
    display: none;
}
@media (min-width: 1120px) {
    .button__text {
        display: unset;
    }
}

/*display: flex;*/
/*align-items: center;*/
/*gap: 8px;*/
/*font-size: 16px;*/














/*.menu, .logo {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.menu::after {*/
/*    content: url("images/divider.svg");*/
/*    margin-top: auto;*/
/*    margin-bottom: auto;*/
/*    margin-left: 20px;*/
/*    display: none;*/
/*}*/

/*@media (min-width: 768px) {*/
/*    .menu::after {*/
/*        display: unset;*/
/*    }*/
/*}*/

/*.nav__list::before {*/
/*    content: url("images/divider.svg");*/
/*    margin-top: auto;*/
/*    margin-bottom: auto;*/
/*    margin-left: 20px;*/
/*    display: none;*/
/*}*/


/*.header__right {*/
/*    display: flex;*/
/*}*/

/*.button {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    background-color: white;*/
/*    border: none;*/
/*}*/

/*.logo__img {*/
/*    justify-self: flex-start;*/
/*}*/

/*.logo::after {*/
/*    content: url("images/divider.svg");*/
/*    margin-top: auto;*/
/*    margin-bottom: auto;*/
/*    margin-left: 20px;*/
/*}*/

/*@media (min-width: 768px) {*/
/*    .logo::after {*/
/*        display: none;*/
/*    }*/
/*}*/




/*@media (min-width: 768px) {*/
/*    .nav__list::before {*/
/*        display: unset;*/
/*    }*/
/*}*/



/*.nav__text {*/
/*    display: none;*/
/*}*/

/*.buttons {*/
/*    display: none;*/
/*    gap: 16px;*/
/*}*/

/*@media (min-width: 768px) {*/
/*    .buttons {*/
/*        display: flex;*/
/*    }*/
/*}*/





