@import "base/var";
@import "base/fonts";
@import "base/media";


html {
    font-size: 14px;
    box-sizing: border-box;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "TT Lakes", serif;
}

body {
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: $background-grey;
}

@import "modules/header";
@import "modules/main-header";
@import "modules/main-info";
@import "modules/main-brands";
@import "modules/main-services";
@import "modules/main-prices";
@import "modules/main-application";
@import "modules/footer";
