$main-text-color: #1b1c21;
$pink: #ff3e79;
$light-grey: #eaeaea;
$grey: #7e7e82;
$green: #41f6d7;
$background-grey: #f8f8f8;
$white: #ffffff;
$green-focus: #b8ffec;
$swiper-bullet: #dddddd;
$swiper-bullet-active: #b5b6bc;

@import "base/fonts";

html {
    font-size: 14px;
    box-sizing: border-box;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "TT Lakes", serif;
}

.page {
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: $background-grey;
}

.page__header {
    padding: 0 16px;
    position: fixed;
    background-color: white;
    height: 88px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}


@media (min-width: 768px) {
    .page__header {
        padding: 0 24px;
    }
}

@media (min-width: 1120px) {
    .page__header {
        display: none;
    }
}


.header__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.circle__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $pink;
}

.button {
    display: block;
    border: none;
}

.menu__button {
    background-image: url("../../../layout/src/img/menu.svg");
}

.call__button {
    display: none;
    background-image: url("../../../layout/src/img/call.svg");
}

.chat__button {
    display: none;
    background-image: url("../../../layout/src/img/chat.svg");
}

.profile__button {
    display: none;
    background-image: url("../../../layout/src/img/profile.svg");
}

.repair__button {
    background-image: url("../../../layout/src/img/repair.svg");
}

.checkstatus__button {
    background-image: url("../../../layout/src/img/checkstatus.svg");
}


.menu__divider {
    display: none;
}

@media (min-width: 480px) {
    .menu__divider {
        display: unset;
    }
}

.logo__divider {
    margin-left: 0.5rem;
    margin-right: 1rem;
}

@media (min-width: 480px) {
    .logo__divider {
        display: none;
    }
}

@media (min-width: 480px) {
    .header__left {
        margin-right: auto;
    }
}



.divider__img, .logo__img, .button__img {
    vertical-align: middle;
}

.button__img {
    margin-right: 8px;
}

@media (min-width: 360px) {
    .profile__button {
        display: unset;
    }
}

@media (min-width: 420px) {
    .chat__button {
        display: unset;
    }
}

@media (min-width: 480px) {
    .call__button {
        display: unset;
    }
}

.header__label{
    gap: 8px;
    display: flex;
    align-items: center;
}

.header__text-hidden {
    display: none;
    color: $main-text-color;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}

@media (min-width: 1120px) {
    .header__text-hidden {
        display: unset;
    }
}

.hidden {
    display: none;
}

@media (min-width: 1120px) {
    .hidden {
        display: unset;
    }
}

@media (min-width: 1120px) {
    .main__buttons {
        display: flex;
        gap: 32px;
    }
}

.header__divider {
    display: none;
}

@media (min-width: 480px) {
    .header__divider {
        display: unset;
    }
}

.header__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (min-width: 560px) {
    .header__buttons {
        gap: 16px;
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
}



.header__list {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
}

.main {
    position: relative;
    top: 88px;
    padding-top: 24px;
}

@media (min-width: 1120px) {
    .main {
        top: 18px;
    }
}

.main__header {
    padding: 0 16px;
}

@media (min-width: 768px) {
    .main__header {
        padding: 0 24px;
    }
}

@media (min-width: 1120px) {
    .main__header {
        padding: 0 32px;
    }
}

.main__title{
    color: $main-text-color;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
}

.main__title::before {
    content: '';
    width: 4px;
    height: 40px;
    position: absolute;
    background-color: $green;
    top: 24px;
    left: 0;
    border-radius: 0 10px 10px 0;
}


.main__link {
    outline: none;
    text-decoration: none;
    color: $grey;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.main__link:active, .main__link:focus, .main__link:visited {
    outline: none;
    text-decoration: none;

    /*-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);*/
    /*-webkit-tap-highlight-color: transparent;*/
}


.main__list {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    gap: 8px;
    margin-top: 24px;
    list-style-type: none;
}

@media (min-width: 320px) {
    .main__list {
        margin-top: 24px;
    }
}

@media (min-width: 768px) {
    .main__list {
        margin-top: 34px;
    }
}

@media (min-width: 1120px) {
    .main__list {
        overflow: unset;
        flex-wrap: wrap;
        margin-top: 11px;
    }
}

.main__list::-webkit-scrollbar {
    display: none;
}

.main__link {
    display: block;
    padding: 6px 14px;
    white-space: nowrap;
}

.main__link:focus, .main__link:active {
    border-radius: 6px;
    border: 2px solid $green-focus;
    background: $white;
    padding: 4px 12px;
}

/*.button:hover, .button:focus, .button:active {*/
/*    */
/*    border: 2px solid #B8FFEC;*/
/*}*/

@media (min-width: 768px) {
    .main__info {
        display: flex;
        padding: 0 24px;
    }
}

@media (min-width: 1120px) {
    .main__info {
        padding: 0 32px;
    }
}

.info {
    padding: 24px 16px 0;
}

@media (min-width: 768px) {
    .info {
        padding: 32px 48px 0 0;
        flex: 1 1 0;
    }
}

.info__text {
    color: $main-text-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.2px;
}

.info__more-text {
    display: none;
}

.info__more-text-active {
    display: inline-block;
}


.info__img {
    width: 100%;
}

@media (min-width: 768px) {
    .info__img {
        border-radius: 10px;
    }
}

@media (min-width: 768px) {
    .info__figure {
        padding-top: 32px;
        flex: 1 1 0;
    }
}

.info__button {
    display: flex;
    align-items: center;
    padding: 16px 0;
    color: $main-text-color;
    background-color: $background-grey;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
}

.more-text__button-img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background: url("../../src/img/more_info.svg") no-repeat;
    background-size: cover;
    margin-right: 9px;
    transition: transform 0.4s ease-in-out;
}

.more-brands__button-img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background: url("../../src/img/more_info.svg") no-repeat;
    background-size: cover;
    margin-right: 9px;
    transition: transform 0.4s ease-in-out;
}

.rotate {
    transform: rotate(180deg);
}

.brands {
    padding-top: 24px;
    min-width: 320px;
}

.brands__title {
    color: $grey;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    padding: 16px;
    width: 100%;
    background: linear-gradient(270deg, $white 0%, $background-grey 100%);
}


.swiper {
    width: 100%;
    height: 100%;
}


.swiper-slide__btn-wrapper {
    display: flex;
    width: 240px;
    height: 72px;
    border-radius: 6px;
    border: 1px solid $light-grey;
    background: $white;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
}

.swiper-slide__btn {
    box-sizing: border-box;
    border: 2px solid $pink;
    border-radius: 20px;
    background: url("../../src/img/arrow_brand.svg") center center no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}


.swiper .brands__grid {
    display: grid;
    gap: 24px;
    margin: 0;
    grid-template-columns: repeat(auto-fit, 224px);
    grid-template-rows: repeat(auto-fit, 72px);
    justify-content: space-between;
    width: 100%;
    padding: 24px 24px 0px 24px;
}

@media (min-width: 1120px){
    .swiper .brands__grid {
        grid-template-columns: repeat(auto-fit, 240px);
        padding: 32px 32px 0px 32px;
    }
}

@media (min-width: 1120px){
    .swiper .brands__grid {
        gap: 32px;
    }
}

@media (max-width: 767px) {
    .swiper .brands__grid {
        display: flex;
        gap: 0;
        padding-top: 16px;
        padding-left: 16px;
        padding-bottom: 36px;
    }
}

@media (min-width: 768px) {
    .swiper .swiper-wrapper {
        width: auto;
    }
}

@media (min-width: 768px) {
    .swiper-slide__btn-wrapper {
        width: 224px;
    }
}

@media (min-width: 1120px) {
    .swiper-slide__btn-wrapper {
        width: 240px;
    }
}

.swiper-pagination .swiper-pagination-bullet {
    background-color: $swiper-bullet;
    width: 10px;
    height: 10px;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: $swiper-bullet-active;
}


@media (min-width: 768px) {
    .swiper .hide {
        display: none;
    }
}

.swiper .hide-active.hide-active {
    display: unset;
}

@media (min-width: 1016px) {
    .swiper .show {
        display: unset;
    }
}

.more-brands__button {
    display: none;
    margin-left: 24px;
}

@media (min-width: 768px) {
    .more-brands__button {
        display: flex;
    }
}

@media (min-width: 1120px) {
    .more-brands__button {
        margin-left: 32px;
    }
}

.button__img {
    transition: transform 0.3s ease-in-out;
}

.swiper:after {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 16;
    background: linear-gradient(270deg, $background-grey 0.04%, rgba(248, 248, 248, 0.00) 100%);
}

@media (min-width: 768px) {
    .swiper:after {
        display: none;
    }
}

.services {
    padding-top: 24px;
    min-width: 320px;
}

.services__title {
    color: $grey;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    padding: 16px;
    width: 100%;
    background: linear-gradient(270deg, $white 0%, $background-grey 100%);
}

.swiper-slide__service-wrapper {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 160px;
    border-radius: 6px;
    border: 1px solid $light-grey;
    background: $white;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
}

.swiper-slide__service-wrapper {
    text-decoration: none;
}

@media (min-width: 768px) {
    .swiper-slide__service-wrapper {
        width: 224px;
    }
}

@media (min-width: 1120px) {
    .swiper-slide__service-wrapper {
        width: 240px;
    }
}

.service-card__tittle {
    color: $main-text-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-top: 16px;
    margin-right: auto;
}

.swiper-slide__btn-services {
    margin-left: auto;
    margin-bottom: 16px;
}

.swiper .services__grid {
    display: grid;
    gap: 24px;
    margin: 0;
    grid-template-columns: repeat(auto-fit, 224px);
    grid-template-rows: repeat(auto-fit, 160px);
    justify-content: space-between;
    width: auto;
    padding: 24px 24px 0 24px;
}

@media (min-width: 1120px){
    .swiper .services__grid {
        grid-template-columns: repeat(auto-fit, 240px);
        padding: 32px 32px 0 32px;
    }
}

@media (min-width: 1120px){
    .swiper .services__grid {
        gap: 32px;
    }
}

@media (min-width: 1120px){
    .swiper .services__grid {
        padding: 32px 32px 0 32px;
    }
}

@media (min-width: 1120px){
    .swiper .services__grid {
        gap: 32px;
    }
}

@media (max-width: 767px) {
    .swiper .services__grid {
        display: flex;
        gap: 0;
        padding-top: 16px;
        padding-left: 16px;
        padding-bottom: 36px;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .swiper .services-hide {
        display: none;
    }
}

@media (min-width: 1016px) {
    .swiper .services-show {
        display: unset;
    }
}

.more-services__button {
    display: none;
    margin-left: 24px;
}

@media (min-width: 768px) {
    .more-services__button {
        display: flex;
    }
}

@media (min-width: 1120px) {
    .more-services__button {
        margin-left: 32px;
    }
}

.more-services__button-img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background: url("../../src/img/more_info.svg") no-repeat;
    background-size: cover;
    margin-right: 9px;
    transition: transform 0.4s ease-in-out;
}

.prices {
    padding-top: 24px;
    min-width: 320px;
}

.prices__title {
    color: $grey;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    padding: 16px;
    width: 100%;
    background: linear-gradient(270deg, $white 0%, $background-grey 100%);
}

.swiper-slide__prices-wrapper {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 200px;
    border-radius: 6px;
    border: 1px solid $light-grey;
    background: $white;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
}

.content__grid {
    display: grid;
    gap: 16px;
    grid-template-rows: 3fr 2fr 2fr;
    grid-template-columns: auto 119px;
    grid-template-areas:
    "service service"
    "price ."
    "term btn";
    width: 260px;
    height: 200px;
    border-radius: 6px;
    border: 1px solid $light-grey;
    background: $white;
    padding: 16px 16px 20px 16px;
}

@media (min-width: 768px) {
    .content__grid {
        display: grid;
        gap: 16px;
        grid-template-rows: 3fr 2fr 2fr;
        grid-template-columns: auto 119px;
        grid-template-areas:
        "service service"
        "price ."
        "term btn";
        width: 260px;
        height: 200px;
        border-radius: 6px;
        border: 1px solid $light-grey;
        background: $white;
        padding: 16px 16px 20px 16px;
    }
}

.wrapper-services {
    grid-area: service;
}

.wrapper-price {
    grid-area: price;
}

.prices__block {
    grid-area: term;
}

.btn-order {
    grid-area: btn;
    justify-self: end;
}

.swiper .prices__grid {
    display: grid;
    gap: 24px;
    margin: 0;
    grid-template-columns: repeat(auto-fit, 224px);
    grid-template-rows: repeat(auto-fit, 160px);
    justify-content: space-between;
    width: auto;
    padding: 24px 24px 0 24px;
}

@media (min-width: 768px) {
    .swiper .prices__grid-hidden {
        display: none;
    }
}

@media (min-width: 1120px){
    .swiper .prices__grid {
        grid-template-columns: repeat(auto-fit, 240px);
        padding: 32px 32px 0 32px;
    }
}

@media (min-width: 1120px){
    .swiper .prices__grid {
        gap: 32px;
    }
}

@media (min-width: 1120px){
    .swiper .prices__grid {
        padding: 32px 32px 0 32px;
    }
}

@media (min-width: 1120px){
    .swiper .prices__grid {
        gap: 32px;
    }
}

@media (max-width: 767px) {
    .swiper .prices__grid {
        display: flex;
        gap: 0;
        padding-top: 16px;
        padding-left: 16px;
        padding-bottom: 36px;
        justify-content: space-between;
    }
}

.subtitle {
    color: $grey;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    opacity: 0.7218;
    padding-bottom: 4px;
}

.text {
    color: $main-text-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.2px;
}

.btn-order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white;
    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 200% */
    letter-spacing: -0.15px;
    text-transform: uppercase;
    width: 119px;
    height: 32px;
    border-radius: 16px;
    background: $pink;
    padding: 4px 8px 4px 12px;
}

.order__button-img {
    background: url(../../src/img/arrow_price.svg) center center no-repeat;
    width: 24px;
    height: 24px;
}

.prices__table {
    display: none;
    flex-direction: column;
    padding: 0 24px 24px 24px;
}

@media (min-width: 768px) {
    .prices__table {
        display: flex;
    }
}

@media (min-width: 1120px) {
    .prices__table {
        padding: 0 32px 32px 32px;
    }
}

.table__header {
    display: grid;
    grid-template-columns: 46fr 12fr 12fr 15fr;
    grid-template-areas:
        "subtitle-service subtitle-price subtitle-term .";
    padding: 31px 16px 16px 16px;
}

.subtitle-service {
    grid-area: subtitle-service;
}

.subtitle-price {
    grid-area: subtitle-price;
}

.subtitle-term {
    grid-area: subtitle-term;
}

.table__content {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background: $white;

}

.content__row {
    display: grid;
    grid-template-columns: 46fr 12fr 12fr 15fr;
    grid-template-areas:
        "service price term btn";
    align-items: center;
    padding: 23px 16px 23px 16px;
}

.content__row:not(:last-child)::after {
    content: '';
    background: $light-grey;
    position: absolute;
    width: calc(100% - 82px);
    height: 1px;
    transform: translateY(39px);
}

.application {
    padding: 0 24px 24px 24px;
}

@media (min-width: 1120px) {
    .application {
        padding: 0 32px 32px 32px;
    }
}

.application__text {
    width: 100%;
    color: $main-text-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}

@media (min-width: 768px) {
    .application__text {
        width: 421px;
    }
}

.application__link {
    display: inline-block;
    padding-top: 16px;
    color: $main-text-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    text-decoration: none;
}



.offer-arrow {
    display: inline-block;
    vertical-align: bottom;
    background: url("../../src/img/arrow_brand.svg") center center no-repeat;
    width: 24px;
    height: 24px;
}

.footer {
    padding: 50px 16px 16px 16px;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__text {
    color: $grey;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    opacity: 0.72;
}

@media (min-width: 768px) {
    .footer {
        padding: 50px 24px 24px 24px;
    }
    .footer__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
    }
    .footer__copyright {
        text-align: left;
    }
    .footer__policy {
        text-align: center;
    }
    .footer__offer {
        text-align: right;
    }
}

@media (min-width: 1120px) {
    .footer {
        padding: 50px 32px 32px 32px;
    }
}






